@charset "UTF-8";
@font-face {
  font-family: "releway";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/RalewayRegular/RalewayRegular.eot");
  src: url("../fonts/RalewayRegular/RalewayRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RalewayRegular/RalewayRegular.woff") format("woff"), url("../fonts/RalewayRegular/RalewayRegular.ttf") format("truetype"); }

@font-face {
  font-family: "releway";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/RalewayBold/RalewayBold.eot");
  src: url("../fonts/RalewayBold/RalewayBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RalewayBold/RalewayBold.woff") format("woff"), url("../fonts/RalewayBold/RalewayBold.ttf") format("truetype"); }

@font-face {
  font-family: "releway-extra-bold";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/RalewayExtraBold/RalewayExtraBold.eot");
  src: url("../fonts/RalewayExtraBold/RalewayExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RalewayExtraBold/RalewayExtraBold.woff") format("woff"), url("../fonts/RalewayExtraBold/RalewayExtraBold.ttf") format("truetype"); }

@font-face {
  font-family: "releway-light";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/RalewayLight/RalewayLight.eot");
  src: url("../fonts/RalewayLight/RalewayLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RalewayLight/RalewayLight.woff") format("woff"), url("../fonts/RalewayLight/RalewayLight.ttf") format("truetype"); }

@font-face {
  font-family: "releway-semi-bold";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/RalewaySemiBold/RalewaySemiBold.eot");
  src: url("../fonts/RalewaySemiBold/RalewaySemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RalewaySemiBold/RalewaySemiBold.woff") format("woff"), url("../fonts/RalewaySemiBold/RalewaySemiBold.ttf") format("truetype"); }

@font-face {
  font-family: "releway-thin";
  font-weight: 100;
  font-style: normal;
  src: url("../fonts/RalewayThin/RalewayThin.eot");
  src: url("../fonts/RalewayThin/RalewayThin.eot?#iefix") format("embedded-opentype"), url("../fonts/RalewayThin/RalewayThin.woff") format("woff"), url("../fonts/RalewayThin/RalewayThin.ttf") format("truetype"); }

@font-face {
  font-family: "firasans";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/FiraSansRegular/FiraSansRegular.eot");
  src: url("../fonts/FiraSansRegular/FiraSansRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSansRegular/FiraSansRegular.woff") format("woff"), url("../fonts/FiraSansRegular/FiraSansRegular.ttf") format("truetype"); }

/*************************** Сброс стилей *****************************/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent; }

body {
  line-height: 1.75; }

article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: ''; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

input, select {
  vertical-align: middle; }

/************************* Системные стили ***************************/
.clear {
  display: block;
  clear: both; }

.clear:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  line-height: 0; }

.centered {
  display: table;
  margin: 0 auto; }

.fl_left {
  float: left; }

.fl_right {
  float: right; }

.hidden {
  overflow: hidden; }

.half {
  width: 50%; }

.full {
  width: 100%; }

.flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: auto;
      -ms-flex: auto;
          flex: auto; }

.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.flex-row-wrap {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap; }

.flex-centered {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto; }

.flex-start {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.flex-full {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%; }

.flex-full.mini {
  max-width: 500px; }

.flex-dominant {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.flex-half {
  -webkit-flex-basis: -webkit-calc(50% - 10px);
      -ms-flex-preferred-size: calc(50% - 10px);
          flex-basis: calc(50% - 10px);
  margin: 0 5px; }

.flex-tht {
  -webkit-flex-basis: -webkit-calc(33% - 10px);
      -ms-flex-preferred-size: calc(33% - 10px);
          flex-basis: calc(33% - 10px);
  margin: 0 5px; }

.flex-goo {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.padding20 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px; }

.padding10-h {
  padding: 0 10px; }

.padding20-h {
  padding: 0 20px; }

/************************* Базовые стили ***************************/
html {
  min-height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: auto;
      -ms-flex: auto;
          flex: auto;
  background: white;
  font-family: releway, sans-serif;
  color: #222222;
  font-size: 18px;
  line-height: 1.6; }

header, footer {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  padding: 20px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #222222;
  color: white; }

header {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0; }
  header .flex-row {
    padding: 10px 20px; }
  header .subheader {
    background: #777777; }
  header #moderator {
    color: #e95254; }

footer {
  background: #222222;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

footer small {
  font-size: 16px; }

header a {
  color: white;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  border: 3px solid white;
  padding: 4px 10px;
  margin: 0 6px 0 0;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  text-decoration: none; }

header a:first-child {
  margin: 0 0 0 26px; }

header a:hover, header a.active {
  background: #2c73b8;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.button.edit {
  background: #2c73b8; }

header .buttons {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-flex: auto;
      -ms-flex: auto;
          flex: auto; }

header .title {
  padding: 4px;
  margin: 4px 0 0 0; }

label, .label {
  color: black;
  font-size: 1.2rem;
  margin: 0 0 4px 0; }

.content {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex: auto;
      -ms-flex: auto;
          flex: auto;
  width: 100%; }

.button {
  -webkit-border-radius: 5px;
          border-radius: 5px;
  padding: 10px 20px;
  margin: 10px 10px 0 0;
  background: #999999;
  color: white;
  cursor: pointer;
  line-height: 1;
  height: auto;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.button:hover, .button.active {
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  background: #666666; }

.button.green {
  background: #3b9739; }

.button.green:hover {
  background: #358039; }

.button.del {
  background: #973323; }

.button.del:hover {
  background: #802725; }

.button.cancel {
  background: #fbf0a3; }

a.button {
  text-decoration: none; }

.link {
  padding: 0 0 4px 0;
  border-bottom: 1px dashed #999999;
  color: #999999;
  cursor: pointer;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.holder {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 100%;
  min-width: 1000px;
  max-width: 1300px;
  margin: 0 auto;
  background: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.holder.type {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start; }

.holder .holder {
  padding: 20px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.optionsHeader {
  width: 100%;
  height: 40px;
  padding: 10px 20px;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.options-header .button {
  margin: 0 10px 0 0;
  padding: 10px 20px; }

.adminPanelcontent, .adminPanelcontent .sortableContent {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
  list-style-type: none;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.adminPanelcontent li {
  -webkit-flex-basis: -webkit-calc(25% - 10px);
      -ms-flex-preferred-size: calc(25% - 10px);
          flex-basis: calc(25% - 10px);
  border: 2px solid #222222;
  margin: 10px 10px 0 0;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-border-radius: 5px;
          border-radius: 5px; }

.adminPanelcontent li.isMain {
  background: #f6f6f6; }

.adminPanelcontent li .image, .adminPanelcontent li .image img {
  width: 100%; }

.adminPanelcontent li .title {
  width: 100%;
  display: block;
  font-size: 1.4rem; }

.adminPanelcontent li .small {
  font-size: 1rem; }

.adminPanelcontent li .buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.adminPanelcontent li .buttons a {
  background: #2c73b8;
  color: white;
  padding: 4px 10px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  margin: 10px 10px 0 0;
  text-decoration: none;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.adminPanelcontent li .buttons a:hover {
  background: #1a3c55;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.adminPanelcontent li .buttons a.article {
  background: #3b9739; }

.adminPanelcontent li .buttons a.article:hover {
  background: #358039; }

.titleName {
  font-family: releway, sans-serif;
  font-size: 3rem;
  display: block; }

.titleNameEditor {
  border-bottom: 2px solid black; }

.blogContent, .blogContent ul.uiSortable {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
  list-style-type: none;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.blogContent ul.uiSortable li {
  -webkit-flex-basis: -webkit-calc(25% - 10px);
      -ms-flex-preferred-size: calc(25% - 10px);
          flex-basis: calc(25% - 10px);
  border: 1px solid #a8a8a8;
  margin: 10px 10px 0 0;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-border-radius: 5px;
          border-radius: 5px; }

.blogContent ul.uiSortable li.ismain {
  background: #f6f6f6; }

.blogContent ul.uiSortable li.root {
  background: #e4fdce; }

.blogContent ul.uiSortable li.uiStateHighlight {
  border: 1px dashed #a7a7a7; }

.blogContent ul.uiSortable li .image, .blogContent ul.uiSortable li .image img {
  width: 100%; }

.blogContent ul.uiSortable li .title {
  width: 100%;
  display: block; }

.blogContent ul.uiSortable li .small {
  font-size: 12px;
  color: #999999; }

.blogContent ul.uiSortable li .buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.blogContent ul.uiSortable li .buttons a {
  background: #999999;
  color: #ffffff;
  padding: 4px 10px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  margin: 10px 10px 0 0;
  text-decoration: none;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.blogContent ul.uiSortable li .buttons a:hover {
  background: #666666;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.blogContent ul.uiSortable li .buttons a.article {
  background: #3b9739; }

.blogContent ul.uiSortable li .buttons a.article:hover {
  background: #358039; }

input, textarea, select {
  -webkit-border-radius: 5px;
          border-radius: 5px;
  display: block;
  background: #ffffff;
  outline: 0;
  border: 1px solid #d5d5d5;
  padding: 6px 12px;
  font-size: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%; }

input:focus, textarea:focus {
  border: 1px solid #98e25d; }

textarea {
  height: 150px;
  width: 60%;
  resize: none; }

.inputRow {
  margin: 10px auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%; }

.input-row.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row; }

.catHolder {
  border: 1px dashed #d5d5d5;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  min-height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px; }

.catHolder.na {
  opacity: .5; }

.catHolder .cat, .catHolder.na .cat:hover {
  padding: 4px 10px;
  background: #999999;
  color: #ffffff;
  margin: 0 6px 6px 0;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  cursor: pointer;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.catHolder .cat:hover, .catHolder .cat.active {
  background: #49a37c;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }

.catHolder.na .cat, .catHolder.na .cat:hover {
  cursor: default; }

.checker {
  display: block;
  width: 16px;
  height: 16px;
  float: left;
  margin: 1px 6px 0 0;
  background: #efefef;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 2px solid #999999;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  cursor: pointer; }

.checker:hover, .checker.active {
  background: #c0f720;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

.logo-holder {
  max-width: 120px;
  overflow: hidden;
  margin: 10px 0;
  min-height: 50px;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  background: #efefef; }

.logo-holder img {
  width: 100%;
  height: auto;
  -webkit-border-radius: 6px;
          border-radius: 6px; }

#cost {
  width: 100px; }

/************************* Pop-up формы ***************************/
.popupHolder {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  background: rgba(96, 96, 96, 0.8);
  overflow: hidden;
  width: 100%;
  height: 100%; }
  .popupHolder .productEditor {
    max-height: 700px;
    overflow-y: scroll;
    margin-top: 100px; }

.popupContent {
  height: 220px;
  width: 600px;
  margin-left: -300px;
  margin-top: -150px;
  position: fixed;
  z-index: 10;
  background-color: white;
  left: 50%;
  top: 50%;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.popupHeader {
  background: #5d5d5d;
  width: 100%;
  color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 6px 12px;
  overflow: hidden; }

.popupContent .button {
  margin: 0 10px 0 0; }

.popupContent .full {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px; }

.popupContent .full.centered {
  text-align: center; }

.popupContent .full input {
  margin-bottom: 20px; }

.popupContent .button {
  float: left;
  padding: 10px 20px; }

.textInPopup {
  text-align: center; }

.imgProd {
  min-height: 150px;
  min-width: 200px; }

.categoryEditor {
  display: none; }

.blockForCatName {
  -webkit-flex-basis: auto;
      -ms-flex-preferred-size: auto;
          flex-basis: auto;
  width: 450px; }

.productsListInCatEditor ul {
  text-align: center;
  overflow-y: scroll;
  min-width: 600px;
  border: 1px solid #211e1f;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  max-height: 700px; }
  .productsListInCatEditor ul .countProductInCat {
    font-family: releway-semi-bold, sans-serif;
    text-decoration: underline; }
  .productsListInCatEditor ul .productsListItem {
    text-decoration: none;
    border: none;
    padding: 15px; }
    .productsListInCatEditor ul .productsListItem .productCost {
      font-family: releway-semi-bold, sans-serif;
      padding-left: 5px; }

.controlsForEditProd {
  text-align: center;
  margin-top: 5px; }
  .controlsForEditProd .productEdit, .controlsForEditProd .productDel {
    text-transform: lowercase;
    max-width: 150px;
    padding: 5px 5px;
    margin-right: 15px;
    -webkit-border-radius: 5px;
            border-radius: 5px; }

.loginBlock {
  position: relative;
  background: rgba(44, 115, 184, 0.65);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  margin: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.loginBlock .button {
  padding: 10px 20px;
  text-align: center;
  min-width: 200px;
  max-width: 200px;
  margin: 20px auto 0;
  text-transform: uppercase;
  background: #2c73b8;
  font-family: releway-semi-bold, sans-serif; }

.loginBlock label {
  font-family: releway-semi-bold, sans-serif;
  text-transform: uppercase;
  color: white; }

.loginBlock input {
  font-family: releway-semi-bold, sans-serif;
  min-width: 300px; }
  .loginBlock input:focus {
    border: solid 5px #2c73b8; }

.loginImg {
  width: 120px;
  height: 120px;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  padding: 5px; }

.loginBlock {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.fa {
  cursor: pointer; }

.fa.userIcon {
  color: white;
  position: absolute;
  left: 70px; }

.fa.userPass {
  color: white;
  position: absolute;
  left: 65px; }
