.headerLogo {
  position: relative;
  display: inline-block;
  margin-right: 20px;
  bottom: 30px;
  vertical-align: top;
  font-family: releway-semi-bold, sans-serif; }
  .headerLogo a {
    font-size: 3.2rem;
    color: #e95254; }
  .headerLogo span {
    font-size: 1.1rem;
    position: absolute;
    left: 20px;
    text-transform: uppercase;
    bottom: -42px;
    color: white; }

.headerTop {
  position: relative;
  margin-bottom: 15px;
  overflow: visible; }

.headerAddress {
  display: inline-block;
  font-family: releway-semi-bold, sans-serif;
  color: white; }

.headerAddressTop {
  position: relative;
  margin-bottom: 10px; }
  .headerAddressTop .btn {
    margin-top: 10px; }

.popup {
  border: 3px solid #e95254;
  background: url("../img/redisign/callBack.jpg") center no-repeat;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  display: none;
  position: fixed;
  left: 550px;
  top: 150px;
  max-width: 300px;
  padding: 20px;
  text-align: center;
  z-index: 10; }
  .popup .pop-title {
    text-transform: uppercase;
    font-family: releway-extra-bold,sans-serif; }
  .popup input[type=text] {
    border: 1px solid #e95254;
    font-family: releway-extra-bold, sans-serif;
    font-size: 1rem;
    width: 250px;
    padding: 10px;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    margin: 5px; }
    .popup input[type=text]:focus {
      border: 3px solid #e95254;
      outline: none; }
  .popup div {
    margin-bottom: 5px; }
  .popup .close {
    position: absolute;
    right: 10px;
    top: 5px;
    font-family: releway-extra-bold, sans-serif;
    font-size: 1.5rem;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: url("../img/icons/resize/close32x32.png"); }
  .popup .callMe {
    cursor: pointer;
    line-height: 25px;
    border: 2px #e95254 solid;
    padding: 5px;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    text-transform: uppercase;
    font-family: releway-extra-bold, sans-serif;
    color: white;
    background: #e95254; }
    .popup .callMe:hover, .popup .callMe:active {
      color: #e95254;
      outline: none;
      background-color: white; }

.popupMessage {
  padding: 15px;
  cursor: pointer;
  top: 100px;
  right: 0;
  left: 0;
  z-index: 20;
  position: fixed;
  color: white;
  font-family: releway-thin, sans-serif;
  width: 100%;
  min-height: 50px; }
  .popupMessage h2 {
    text-align: center; }

.popupAddInCart {
  background-color: rgba(107, 186, 124, 0.85); }

.popupDeleteFromCart {
  background-color: rgba(233, 82, 84, 0.85); }

.headerPhone {
  font-size: 1.7rem;
  margin-right: 10px;
  font-family: firasans, sans-serif;
  white-space: nowrap;
  color: white; }
  .headerPhone span {
    font-weight: bold; }
  .headerPhone:before {
    content: '';
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url("../img/icons/resize/phone.png") 0 0 no-repeat;
    margin-right: 5px;
    margin-bottom: -5px; }

.headerAddress {
  font-family: firasans, sans-serif;
  text-align: right; }

.headerAddressBottom {
  text-align: right;
  font-weight: bold; }
  .headerAddressBottom span:before {
    content: '';
    display: inline-block;
    margin-right: px;
    width: 32px;
    height: 32px;
    background: url("../img/icons/resize/location.png") 0 0 no-repeat;
    margin-bottom: -5px; }

.headerBusketWrap {
  float: right;
  font-family: releway-light, sans-serif;
  color: white;
  margin-bottom: 25px; }

.headerBusket {
  max-width: 180px;
  min-height: 50px;
  max-height: 50px;
  padding: 20px 10px;
  -webkit-border-radius: 40px;
          border-radius: 40px;
  background-color: rgba(33, 30, 31, 0.55);
  font-weight: bold;
  border: 5px solid #e95254;
  margin-bottom: 5px; }
  .headerBusket:hover {
    border: 5px solid white; }
  .headerBusket span {
    font-size: 2rem;
    position: relative;
    display: block;
    padding-left: 90px;
    font-family: releway-extra-bold, sans-serif; }
    .headerBusket span:before {
      position: absolute;
      content: '';
      display: block;
      left: 0;
      margin-right: 10px;
      width: 64px;
      height: 64px;
      background: url("../img/icons/resize/shopping_cart.png") 0 0 no-repeat; }

.headerHideBusket {
  position: absolute;
  display: none;
  top: -10px;
  right: 0;
  margin-right: 10px;
  width: 64px;
  height: 64px;
  background: url("../img/icons/resize/shopping_cart.png") 0 0 no-repeat; }
  .headerHideBusket span {
    position: absolute;
    bottom: 20px;
    color: white;
    text-align: center;
    left: 20px;
    top: 10px;
    font-family: releway-semi-bold, sans-serif; }

.hideBusketActive {
  height: 64px;
  width: 64px;
  -webkit-border-radius: 15px;
          border-radius: 15px; }

.mainNavWrap {
  font-family: releway-extra-bold, sans-serif;
  background-color: #e95254;
  padding: 5px 10px 10px 50px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  overflow: hidden;
  margin-bottom: 5px; }

.mainNav {
  display: inline-block; }
  .mainNav ul {
    background-color: rgba(232, 83, 79, 0.95); }
  .mainNav li {
    display: inline-block;
    margin-right: 50px; }
  .mainNav a {
    display: block;
    color: white;
    text-transform: uppercase;
    padding: 0 5px;
    line-height: 40px;
    -webkit-border-radius: 5px;
            border-radius: 5px; }
    .mainNav a:hover, .mainNav a:active {
      color: #e95254;
      background-color: white; }

.topSearchWrap {
  position: relative;
  float: right;
  margin-right: 70px;
  width: 100%;
  max-width: 200px;
  margin-top: 5px; }
  .topSearchWrap:after {
    content: '';
    display: block;
    width: 32px;
    height: 32px;
    position: absolute;
    right: -75px;
    top: 0px;
    background: url("../img/icons/zoom.png") 0 0 no-repeat; }
  .topSearchWrap input {
    border: none;
    -webkit-border-radius: 20px;
            border-radius: 20px;
    line-height: 32px;
    padding: 0 20px;
    width: 100%;
    font-family: releway-extra-bold, sans-serif;
    text-align: center; }

.respMenuLine {
  position: absolute;
  display: block;
  height: 5px;
  width: 40px;
  background-color: white; }

.responsiveMenuTop {
  top: 5px; }

.responsiveMenuMiddle {
  top: 15px; }

.responsiveMenuBottom {
  top: 25px; }

.responsiveMenu {
  -webkit-border-radius: 50px;
          border-radius: 50px;
  cursor: pointer;
  position: relative;
  display: none;
  width: 30px;
  height: 4px;
  bottom: 13px; }
  .responsiveMenu span {
    background-color: white;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    font-family: releway-extra-bold, sans-serif;
    font-size: 1.5rem;
    opacity: 1;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }
    .responsiveMenu span:last-child {
      margin-bottom: 0; }
  .responsiveMenu:active .responsiveMenuTop {
    opacity: 0; }
  .responsiveMenu:active .responsiveMenuMiddle {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }
  .responsiveMenu:active .responsiveMenuBottom {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }

@font-face {
  font-family: "releway";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/RalewayRegular/RalewayRegular.eot");
  src: url("../fonts/RalewayRegular/RalewayRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RalewayRegular/RalewayRegular.woff") format("woff"), url("../fonts/RalewayRegular/RalewayRegular.ttf") format("truetype"); }

@font-face {
  font-family: "releway";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/RalewayBold/RalewayBold.eot");
  src: url("../fonts/RalewayBold/RalewayBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RalewayBold/RalewayBold.woff") format("woff"), url("../fonts/RalewayBold/RalewayBold.ttf") format("truetype"); }

@font-face {
  font-family: "releway-extra-bold";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/RalewayExtraBold/RalewayExtraBold.eot");
  src: url("../fonts/RalewayExtraBold/RalewayExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RalewayExtraBold/RalewayExtraBold.woff") format("woff"), url("../fonts/RalewayExtraBold/RalewayExtraBold.ttf") format("truetype"); }

@font-face {
  font-family: "releway-light";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/RalewayLight/RalewayLight.eot");
  src: url("../fonts/RalewayLight/RalewayLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RalewayLight/RalewayLight.woff") format("woff"), url("../fonts/RalewayLight/RalewayLight.ttf") format("truetype"); }

@font-face {
  font-family: "releway-semi-bold";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/RalewaySemiBold/RalewaySemiBold.eot");
  src: url("../fonts/RalewaySemiBold/RalewaySemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RalewaySemiBold/RalewaySemiBold.woff") format("woff"), url("../fonts/RalewaySemiBold/RalewaySemiBold.ttf") format("truetype"); }

@font-face {
  font-family: "releway-thin";
  font-weight: 100;
  font-style: normal;
  src: url("../fonts/RalewayThin/RalewayThin.eot");
  src: url("../fonts/RalewayThin/RalewayThin.eot?#iefix") format("embedded-opentype"), url("../fonts/RalewayThin/RalewayThin.woff") format("woff"), url("../fonts/RalewayThin/RalewayThin.ttf") format("truetype"); }

@font-face {
  font-family: "firasans";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/FiraSansRegular/FiraSansRegular.eot");
  src: url("../fonts/FiraSansRegular/FiraSansRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/FiraSansRegular/FiraSansRegular.woff") format("woff"), url("../fonts/FiraSansRegular/FiraSansRegular.ttf") format("truetype"); }

.ourAdvant {
  display: inline-block;
  overflow: hidden;
  text-align: center;
  margin-bottom: 20px; }

.advItem {
  margin-bottom: 5px;
  display: inline-block;
  width: 30%;
  border: 5px solid #e95254;
  background-color: rgba(33, 30, 31, 0.55);
  -webkit-border-radius: 5px;
          border-radius: 5px;
  padding: 5px; }
  .advItem:hover {
    border: 5px solid white; }
  .advItem:first-child {
    float: left; }
  .advItem:last-child {
    float: right; }

.advItemInner {
  text-align: left;
  padding: 10px 0 20px 115px;
  position: relative; }

.advTitle {
  display: block;
  font-family: releway-semi-bold, sans-serif;
  font-size: 1.2rem;
  color: white;
  text-align: center; }

.advIcon {
  position: absolute;
  left: 0;
  top: 50%; }

.advIconCity {
  display: block;
  width: 64px;
  height: 64px;
  margin-top: -35px;
  margin-left: 25px;
  background: url("../img/icons/shipping-truck.png"); }

.advIconCash {
  display: block;
  width: 64px;
  height: 64px;
  margin-top: -35px;
  margin-left: 25px;
  background: url("../img/icons/money.png"); }

.advIconTime {
  display: block;
  width: 64px;
  height: 64px;
  margin-top: -35px;
  margin-left: 25px;
  background: url("../img/icons/clock.png"); }

.mainSale .titleNameCategor {
  text-align: center;
  border-bottom: solid 5px;
  margin-bottom: 20px; }

.titleNameCategor {
  font-family: releway-semi-bold, sans-serif;
  font-size: 3rem;
  color: rgba(232, 83, 79, 0.95);
  display: block; }

.products {
  text-align: center; }

.mainProdItem {
  background: rgba(33, 30, 31, 0.55);
  margin-bottom: 25px;
  min-height: 430px;
  max-height: 430px;
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 23%;
  border: 5px solid #e95254;
  padding: 30px 30px 30px;
  line-height: normal;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  margin-right: 15px;
  text-align: center; }
  .mainProdItem .prodImg {
    height: 120px; }
  .mainProdItem:hover {
    border-color: white; }
  .mainProdItem img {
    height: 170px;
    width: auto; }
  .mainProdItem span {
    display: block; }
  .mainProdItem .btn {
    position: absolute;
    bottom: -15px;
    left: 50%;
    margin-left: -55px; }

.containerForPriceAndCount {
  position: absolute;
  right: 0;
  left: 0;
  top: 325px; }

.products {
  overflow: hidden; }

.productName {
  font-family: releway-semi-bold, sans-serif;
  margin-bottom: 10px; }

.productDescription {
  font-family: firasans, sans-serif;
  margin-bottom: 5px; }

.productPrice {
  font-family: firasans, sans-serif;
  font-size: 1.57rem;
  padding-top: 30px;
  color: #e95254;
  position: absolute;
  left: 35%; }

.prodImg {
  margin-bottom: 15px; }

.productPrice {
  position: static;
  left: 0;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  bottom: 0;
  margin-bottom: 10px; }

.productCount {
  background: #e8534f;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  position: relative;
  display: inline-block;
  color: white; }

.productAdd {
  position: absolute;
  right: 0;
  top: -1px;
  width: 50px;
  height: 40px;
  font-family: releway-semi-bold, sans-serif;
  font-size: 2rem; }

.productDel {
  position: absolute;
  left: 0;
  top: -3px;
  width: 50px;
  height: 40px;
  font-family: releway-semi-bold, sans-serif;
  font-size: 2rem; }

.productCountCurrent {
  background-color: #e95254;
  font-family: releway-semi-bold, sans-serif;
  font-size: 1.2rem;
  border: 2px solid white;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  padding: 5px 20px;
  margin: 0 50px; }

.productCountTitle {
  margin-bottom: 10px;
  font-family: releway-semi-bold, sans-serif;
  text-transform: uppercase; }

.radio {
  vertical-align: top;
  width: 17px;
  height: 17px;
  margin: 0 5px 0 0; }

.radio + label {
  cursor: pointer; }

.radio:not(checked) {
  position: absolute;
  opacity: 0; }

.radio:not(checked) + label {
  position: relative;
  padding: 0 0 0 55px; }

.radio:not(checked) + label:before {
  content: '';
  position: absolute;
  top: -2px;
  left: 25px;
  width: 22px;
  height: 22px;
  border: 5px solid white;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: white; }

.radio:not(checked) + label:after {
  content: '';
  position: absolute;
  top: 1px;
  left: 28px;
  width: 16px;
  height: 16px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #e95254;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5);
  opacity: 0;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }

.radio:checked + label:after {
  opacity: 1; }

.radio:focus + label:before {
  -webkit-box-shadow: 0 0 0 5px #e95254;
          box-shadow: 0 0 0 5px #e95254; }

.cart {
  padding: 30px;
  text-align: center;
  display: inline-block;
  top: 120px;
  right: 0;
  width: 28%;
  float: right; }
  .cart .typeOfPay {
    text-align: center;
    padding: 5px 30px;
    color: white;
    font-family: releway-extra-bold, sans-serif; }
    .cart .typeOfPay .radioTypeBlock {
      padding: 15px;
      font-size: 1rem; }
    .cart .typeOfPay span {
      display: block; }
  .cart .cartItem {
    text-align: center;
    margin-bottom: 25px;
    font-family: releway-semi-bold, sans-serif;
    border-bottom: 3px #e95254 solid; }
    .cart .cartItem:last-child {
      margin-bottom: 0; }
  .cart .cartTitile {
    text-transform: uppercase;
    display: block;
    font-family: releway-extra-bold, sans-serif;
    padding-bottom: 10px;
    padding-top: 10px;
    color: #e95254;
    font-size: 1.3rem; }
  .cart .itemCartCost {
    padding: 0 2px;
    font-size: 1.2rem;
    color: white; }
  .cart .itemCartCount {
    font-family: releway-extra-bold,sans-serif;
    padding: 0 20px;
    font-size: 1.2rem;
    margin-left: 15px;
    margin-right: -15px;
    color: white; }
  .cart .itemCartTitle {
    font-size: 1rem;
    color: white; }
  .cart .cartReceipt {
    font-family: releway-extra-bold, sans-serif;
    margin-bottom: 10px;
    font-size: 1.4rem;
    color: white; }
  .cart .orderButton {
    cursor: pointer;
    line-height: 25px;
    border: 2px #e95254 solid;
    padding: 5px;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    text-transform: uppercase;
    font-family: releway-extra-bold, sans-serif;
    color: white;
    background: #e95254; }
    .cart .orderButton:hover, .cart .orderButton:active {
      color: #e95254;
      outline: none;
      background-color: white; }
  .cart .itemCartAdd {
    cursor: pointer;
    position: absolute;
    height: 32px;
    width: 32px;
    background: url("../img/icons/resize/add.png") 0 3px no-repeat; }
  .cart .itemCartDel {
    cursor: pointer;
    height: 32px;
    width: 32px;
    position: absolute;
    background: url("../img/icons/resize/cancel.png") 0 3px no-repeat; }

.cartHide {
  border: 5px solid #e95254;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  right: -200vw;
  position: relative;
  z-index: 15;
  display: none;
  width: 60%;
  background-color: #211e1f;
  top: -120px;
  overflow: hidden;
  margin-bottom: -400px;
  text-align: center; }

.cartHideActive {
  display: block;
  right: 0; }

.cartGeneral {
  display: block;
  -webkit-transition: all 1.5s;
  -o-transition: all 1.5s;
  transition: all 1.5s; }

.cartGeneralActive {
  display: block; }

.mainSale {
  position: relative;
  overflow: hidden; }

.footerContent {
  padding: 15px 10px 15px;
  overflow: hidden;
  background: rgba(33, 30, 31, 0.55);
  max-width: 1300px;
  margin: -1px auto;
  width: 100%;
  text-align: center; }

.footerSocial {
  text-align: center; }
  .footerSocial li {
    display: inline-block;
    vertical-align: top;
    width: 32px;
    height: 32px;
    padding: 5px; }
  .footerSocial a {
    display: block;
    width: 100%;
    height: 100%; }
  .footerSocial .footerSocialLinkTopVK {
    background: url("../img/icons/VK32x32.png") 0 0 no-repeat; }
  .footerSocial .footerSocialLinkTopFB {
    background: url("../img/icons/FB32x32.png") 0 0 no-repeat; }
  .footerSocial .footerSocialLinkTopOK {
    background: url("../img/icons/OK32x32.png") 0 0 no-repeat; }

.footerLogo {
  font-family: releway-semi-bold, sans-serif;
  font-size: 1.5rem;
  width: 100%;
  max-width: 200px;
  padding: 5px;
  color: #e95254; }

.footerAddress {
  display: block;
  font-family: releway-semi-bold, sans-serif;
  font-size: 1rem;
  color: white; }

.footerPhone {
  font-family: firasans, sans-serif;
  font-size: 1rem;
  display: block;
  color: white; }

@media screen and (max-width: 1270px) {
  .mainProdItem {
    width: 35%; }
  .headerLogo {
    margin-top: 10px;
    margin-bottom: 10px; }
    .headerLogo a {
      font-size: 2.5rem; }
    .headerLogo span {
      left: 50px; }
  .ourAdvant {
    padding-left: 5px; }
  .advItemInner {
    padding-left: 80px; }
  .advIconCity {
    left: -20px; }
  .advIconCash {
    left: -20px; }
  .advIconTime {
    left: -20px; }
  .headerBusket {
    width: 250px; }
  .headerBusketWrap {
    margin-right: 60px;
    width: 230px; } }

@media screen and (max-width: 1150px) {
  .headerAddress {
    width: 300px; }
  .mainNav li {
    margin-right: 2px; }
  .mainNav a {
    padding: 0 10px; }
  .headerBusket {
    width: 250px;
    margin-right: 5px;
    font-size: 0.9rem; }
  .headerLogo span {
    bottom: -45px; }
  .topBtn {
    margin-right: 50px; } }

@media screen and (max-width: 1100px) {
  .mainProdWrap {
    text-align: center; }
  .mainProdItem {
    width: 30%; }
  .cartGeneral {
    float: none;
    width: 40%;
    margin-bottom: 25px; }
  .advItemInner {
    padding: 10px;
    text-align: center; }
  .advIcon {
    position: static;
    top: 0;
    margin: 0 auto 5px; }
  .advItem {
    height: 155px; }
  .headerBusket {
    width: 250px; }
  .topBtn {
    margin-right: 50px; } }

@media screen and (max-width: 1024px) {
  .wrapper {
    padding: 30px 30px 50px; }
  .topBtn {
    margin-right: 50px; }
  .headerBusketWrap {
    float: none;
    max-width: 325px; }
  .headerBusket {
    margin-top: 10px;
    width: 250px; }
  .headerAddress {
    float: right;
    margin-right: 15px; }
  .headerLogo {
    width: 300px;
    float: none;
    margin-right: 0;
    margin-bottom: 10px; }
    .headerLogo .logoText {
      font-size: 2rem; } }

@media screen and (max-width: 1000px) {
  .headerBusket {
    width: 250px; }
  .topSearchWrap {
    width: 150px; }
  .mainNavWrap {
    padding: 5px 10px 15px;
    position: relative;
    overflow: visible; }
  .mainNav ul {
    display: none;
    position: absolute;
    z-index: 10;
    background-color: #e95254;
    top: 60px;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    left: 0; }
  .mainNav li {
    display: block;
    margin-right: 0; }
  .mainNav a {
    padding: 5px;
    line-height: 20px; }
    .mainNav a:active, .mainNav a:hover {
      color: #e95254;
      background-color: white;
      padding: 5px; }
  .responsiveMenu {
    display: block; } }

@media screen and (max-width: 950px) {
  .mainSale {
    text-align: center; }
  .mainProdItem {
    width: 30%; } }

@media screen and (max-width: 890px) {
  .popup {
    left: 200px; }
  .mainProdItem {
    width: 30%;
    min-width: 300px; } }

@media screen and (max-width: 850px) {
  .headerLogo span {
    bottom: -35px;
    font-size: 0.9rem; }
  .advTitle {
    font-size: 1rem; } }

@media screen and (max-width: 768px) {
  .mainProdItem {
    width: 30%;
    min-width: 220px; }
  .headerLogo {
    width: 300px; }
    .headerLogo .logoText {
      font-size: 2rem; }
  .headerPhone {
    font-size: 1.2rem;
    display: block;
    margin-right: 0; }
  .headerAddressBottom {
    font-size: 0.9rem; }
  .headerAddressTop {
    font-size: 1rem;
    text-align: right; }
  .headerAddress {
    margin-right: 10px; }
  .headerBusketWrap {
    float: none;
    font-size: 0.9rem; }
    .headerBusketWrap .headerBusket {
      width: 220px; } }

@media screen and (max-width: 750px) {
  .headerBusket {
    margin-left: 0;
    padding-left: 5px; }
  .cart {
    width: 80%; }
  .mainProdItem {
    width: 20%;
    min-width: 220px; }
  .advItem {
    width: 230px;
    vertical-align: top;
    margin: 0 2px 15px; }
    .advItem:first-child, .advItem:last-child {
      float: none; } }

@media screen and (max-width: 550px) {
  .cart {
    display: none; }
  .cartHide {
    display: block; }
  .popup {
    left: 0; }
  .btnColorCallback {
    margin-left: 25px; }
  .headerAddress {
    margin-right: 10px;
    float: none; }
  .headerLogo {
    width: 300px;
    display: block; }
    .headerLogo span {
      bottom: -35px; }
    .headerLogo .logoText {
      font-size: 1.8rem; }
  .headerBusketWrap {
    display: none; }
  .headerAddressTop {
    text-align: left; }
  .headerPhone {
    display: inline-block;
    margin-right: 15px; }
  .headerAddressBottom {
    text-align: left; }
  .headerHideBusket {
    display: block; } }

@media screen and (max-width: 450px) {
  .radioTypeBlock {
    text-align: left; }
  .mainProdItem img {
    height: 120px; }
  .topBtn {
    margin: 0; }
    .topBtn .tobBtnColor {
      margin: 0; }
  .headerBusketWrap {
    margin-top: 25px; }
  .headerBusket {
    width: 190px; }
  .topBlockWrap .topBlock {
    padding: 0 5px; } }

@media screen and (max-width: 350px) {
  .topBlock {
    height: 80px; }
  .topBtn {
    margin: 0;
    width: 120px;
    margin-right: 10px; }
  .tobBtnColor {
    margin: 0; }
  .topBtn, .socialLinkTop {
    float: none;
    text-align: center; }
  .socialLinkTop {
    margin-bottom: 150px; }
  .headerLogo {
    margin-bottom: 45px;
    top: -15px;
    width: 200px; }
    .headerLogo .logoText {
      font-size: 1.3rem; }
    .headerLogo span {
      top: 30px;
      font-size: 0.8rem; }
    .headerLogo .wrapper {
      padding-left: 10px; } }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

.wrapper {
  padding: 30px 10px 30px;
  background: rgba(33, 30, 31, 0.55);
  width: 100%;
  max-width: 1300px;
  margin: 0 auto; }

.topBlock {
  margin: 0 auto;
  padding: 5px 5px;
  width: 100%;
  max-width: 1300px;
  overflow: hidden; }
  .topBlock .btn {
    text-align: center;
    width: 70px; }

body {
  background: url("../img/redisign/redisignBacground.jpg") top center; }

html {
  font-family: "raleway", sans-serif;
  font-size: 16px;
  line-height: 1.75; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none; }

a {
  text-decoration: none;
  color: black; }

.show {
  display: block; }

.hide {
  display: none; }

textarea {
  resize: none; }

*:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

audio, canvas, iframe, img, svg, video {
  vertical-align: middle; }

.socialLinkTop {
  float: left; }
  .socialLinkTop li {
    display: inline-block;
    vertical-align: top;
    width: 64px;
    height: 64px;
    padding: 5px; }
  .socialLinkTop a {
    display: block;
    width: 100%;
    height: 100%; }
  .socialLinkTop .socialLinkTopVK {
    background: url("../img/icons/resize/64x64VK.png") 0 0 no-repeat; }
  .socialLinkTop .socialLinkTopFB {
    background: url("../img/icons/resize/FB64x64.png") 0 0 no-repeat; }
  .socialLinkTop .socialLinkTopOK {
    background: url("../img/icons/resize/OK64x64.png") 0 0 no-repeat; }

.topBtn {
  float: right;
  margin-top: 25px; }
  .topBtn .btn:first-child {
    margin-right: 5px; }

.btn {
  display: inline-block;
  padding: 0 20px;
  color: white;
  line-height: 25px;
  text-transform: lowercase;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  font-family: releway-extra-bold, sans-serif;
  vertical-align: top; }

.btnColor {
  background-color: #e95254; }
  .btnColor:hover, .btnColor:active {
    color: #e95254;
    background-color: white; }

.btnColorCallback {
  background-color: #e95254; }
  .btnColorCallback:hover, .btnColorCallback:active {
    color: #e95254;
    background-color: white; }

.top {
  background: url("../img/icons/resize/up.png") top center;
  position: fixed;
  bottom: 50px;
  background-color: #e95254;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  color: #E0E0E0;
  width: 64px;
  height: 64px;
  cursor: pointer;
  -webkit-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
  opacity: .5;
  right: -100px; }
  .top.active {
    right: 20px; }
  .top:hover {
    opacity: 1; }

.containerAcceptRequest {
  display: none;
  color: white; }
