@media screen and (max-width: 1270px) {
  .mainProdItem {
    width: 35%; }
  .headerLogo {
    margin-top: 10px;
    margin-bottom: 10px; }
    .headerLogo a {
      font-size: 2.5rem; }
    .headerLogo span {
      left: 50px; }
  .ourAdvant {
    padding-left: 5px; }
  .advItemInner {
    padding-left: 80px; }
  .advIconCity {
    left: -20px; }
  .advIconCash {
    left: -20px; }
  .advIconTime {
    left: -20px; }
  .headerBusket {
    width: 250px; }
  .headerBusketWrap {
    margin-right: 60px;
    width: 230px; } }

@media screen and (max-width: 1150px) {
  .headerAddress {
    width: 300px; }
  .mainNav li {
    margin-right: 2px; }
  .mainNav a {
    padding: 0 10px; }
  .headerBusket {
    width: 250px;
    margin-right: 5px;
    font-size: 0.9rem; }
  .headerLogo span {
    bottom: -45px; }
  .topBtn {
    margin-right: 50px; } }

@media screen and (max-width: 1100px) {
  .mainProdWrap {
    text-align: center; }
  .mainProdItem {
    width: 30%; }
  .cartGeneral {
    float: none;
    width: 40%;
    margin-bottom: 25px; }
  .advItemInner {
    padding: 10px;
    text-align: center; }
  .advIcon {
    position: static;
    top: 0;
    margin: 0 auto 5px; }
  .advItem {
    height: 155px; }
  .headerBusket {
    width: 250px; }
  .topBtn {
    margin-right: 50px; } }

@media screen and (max-width: 1024px) {
  .wrapper {
    padding: 30px 30px 50px; }
  .topBtn {
    margin-right: 50px; }
  .headerBusketWrap {
    float: none;
    max-width: 325px; }
  .headerBusket {
    margin-top: 10px;
    width: 250px; }
  .headerAddress {
    float: right;
    margin-right: 15px; }
  .headerLogo {
    width: 300px;
    float: none;
    margin-right: 0;
    margin-bottom: 10px; }
    .headerLogo .logoText {
      font-size: 2rem; } }

@media screen and (max-width: 1000px) {
  .headerBusket {
    width: 250px; }
  .topSearchWrap {
    width: 150px; }
  .mainNavWrap {
    padding: 5px 10px 15px;
    position: relative;
    overflow: visible; }
  .mainNav ul {
    display: none;
    position: absolute;
    z-index: 10;
    background-color: #e95254;
    top: 60px;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    left: 0; }
  .mainNav li {
    display: block;
    margin-right: 0; }
  .mainNav a {
    padding: 5px;
    line-height: 20px; }
    .mainNav a:active, .mainNav a:hover {
      color: #e95254;
      background-color: white;
      padding: 5px; }
  .responsiveMenu {
    display: block; } }

@media screen and (max-width: 950px) {
  .mainSale {
    text-align: center; }
  .mainProdItem {
    width: 30%; } }

@media screen and (max-width: 890px) {
  .popup {
    left: 200px; }
  .mainProdItem {
    width: 30%;
    min-width: 300px; } }

@media screen and (max-width: 850px) {
  .headerLogo span {
    bottom: -35px;
    font-size: 0.9rem; }
  .advTitle {
    font-size: 1rem; } }

@media screen and (max-width: 768px) {
  .mainProdItem {
    width: 30%;
    min-width: 220px; }
  .headerLogo {
    width: 300px; }
    .headerLogo .logoText {
      font-size: 2rem; }
  .headerPhone {
    font-size: 1.2rem;
    display: block;
    margin-right: 0; }
  .headerAddressBottom {
    font-size: 0.9rem; }
  .headerAddressTop {
    font-size: 1rem;
    text-align: right; }
  .headerAddress {
    margin-right: 10px; }
  .headerBusketWrap {
    float: none;
    font-size: 0.9rem; }
    .headerBusketWrap .headerBusket {
      width: 220px; } }

@media screen and (max-width: 750px) {
  .headerBusket {
    margin-left: 0;
    padding-left: 5px; }
  .cart {
    width: 80%; }
  .mainProdItem {
    width: 20%;
    min-width: 220px; }
  .advItem {
    width: 230px;
    vertical-align: top;
    margin: 0 2px 15px; }
    .advItem:first-child, .advItem:last-child {
      float: none; } }

@media screen and (max-width: 550px) {
  .cart {
    display: none; }
  .cartHide {
    display: block; }
  .popup {
    left: 0; }
  .btnColorCallback {
    margin-left: 25px; }
  .headerAddress {
    margin-right: 10px;
    float: none; }
  .headerLogo {
    width: 300px;
    display: block; }
    .headerLogo span {
      bottom: -35px; }
    .headerLogo .logoText {
      font-size: 1.8rem; }
  .headerBusketWrap {
    display: none; }
  .headerAddressTop {
    text-align: left; }
  .headerPhone {
    display: inline-block;
    margin-right: 15px; }
  .headerAddressBottom {
    text-align: left; }
  .headerHideBusket {
    display: block; } }

@media screen and (max-width: 450px) {
  .radioTypeBlock {
    text-align: left; }
  .mainProdItem img {
    height: 120px; }
  .topBtn {
    margin: 0; }
    .topBtn .tobBtnColor {
      margin: 0; }
  .headerBusketWrap {
    margin-top: 25px; }
  .headerBusket {
    width: 190px; }
  .topBlockWrap .topBlock {
    padding: 0 5px; } }

@media screen and (max-width: 350px) {
  .topBlock {
    height: 80px; }
  .topBtn {
    margin: 0;
    width: 120px;
    margin-right: 10px; }
  .tobBtnColor {
    margin: 0; }
  .topBtn, .socialLinkTop {
    float: none;
    text-align: center; }
  .socialLinkTop {
    margin-bottom: 150px; }
  .headerLogo {
    margin-bottom: 45px;
    top: -15px;
    width: 200px; }
    .headerLogo .logoText {
      font-size: 1.3rem; }
    .headerLogo span {
      top: 30px;
      font-size: 0.8rem; }
    .headerLogo .wrapper {
      padding-left: 10px; } }
