.ourAdvant
  display: inline-block
  overflow: hidden
  text-align: center
  margin-bottom: 20px

.advItem
  margin-bottom: 5px
  display: inline-block
  width: 30%
  border: 5px solid $mainOne
  background-color: $generalSectionColorNewRgba
  border-radius: 5px
  padding: 5px
  &:hover
    border: 5px solid white
  &:first-child
    float: left
  &:last-child
    float: right

.advItemInner
  text-align: left
  padding: 10px 0 20px 115px
  position: relative

.advTitle
  display: block
  font-family: releway-semi-bold, sans-serif
  font-size: 1.2rem
  color: white
  text-align: center

.advIcon
  position: absolute
  left: 0
  top: 50%

.advIconCity
  display: block
  width: 64px
  height: 64px
  margin-top: -35px
  margin-left: 25px
  background: url('../img/icons/shipping-truck.png')

.advIconCash
  display: block
  width: 64px
  height: 64px
  margin-top: -35px
  margin-left: 25px
  background: url('../img/icons/money.png')

.advIconTime
  display: block
  width: 64px
  height: 64px
  margin-top: -35px
  margin-left: 25px
  background: url('../img/icons/clock.png')

.mainSale
  //overflow: hidden
  .titleNameCategor
    text-align: center
    border-bottom: solid 5px
    margin-bottom: 20px

.titleNameCategor
  font-family: releway-semi-bold, sans-serif
  font-size: 3rem
  color: $navigationMenuColorNewRgba
  display: block
  //margin-left: 450px

.mainProdWrap
  //text-align: center

.products
  text-align: center

.mainProdItem
  .prodImg
    height: 120px
  //background: url("../img/sushi.png") center no-repeat
  //background: rgba(255, 255, 255, 0.50)
  background: $generalSectionColorNewRgba
  margin-bottom: 25px
  min-height: 430px
  max-height: 430px
  position: relative
  display: inline-block
  vertical-align: top
  width: 23%
  border: 5px solid $mainOne
  padding: 30px 30px 30px
  line-height: normal
  font-size: 1rem
  color: white
  cursor: pointer
  margin-right: 15px
  //margin-left: 10px
  text-align: center
  //&:first-child
  //  float: right
  //&:last-child
  //  float: left
  &:hover
    border-color: white
  img
    height: 170px
    width: auto
  span
    display: block
  .btn
    position: absolute
    bottom: -15px
    left: 50%
    margin-left: -55px

//.markProduct
//  position: absolute
//  width: 82px
//  padding: 23px
//  top: 15px
//  left: -5px

//.mainProductWrap
//  text-align: center
//  //line-height: 0px
//  //visibility: hidden
//  //overflow: hidden
//  content: ''
//  //display: inline-block
//  &:after
//    //width: 100%
//    //height: 0px
//    //visibility: hidden
//    //overflow: hidden
//    content: ''
//    //display: inline-block

.containerForPriceAndCount
  position: absolute
  right: 0
  left: 0
  top: 325px

.products
  overflow: hidden

.productName
  font-family: releway-semi-bold, sans-serif
  margin-bottom: 10px

.productDescription
  font-family: firasans, sans-serif
  margin-bottom: 5px

.productPrice
  font-family: firasans, sans-serif
  font-size: 1.57rem
  padding-top: 30px
  color: $mainOne
  position: absolute
  left: 35%

.prodImg
  margin-bottom: 15px

.productPrice
  position: static
  left: 0
  transform: none
  bottom: 0
  margin-bottom: 10px

.productCountLine
  //position: relative

.productCount
  background: $navigationMenuColorNew
  border-radius: 15px
  //margin: 0 2px
  position: relative
  display: inline-block
  color: white

.productAdd
  position: absolute
  right: 0
  top: -1px
  width: 50px
  height: 40px
  font-family: releway-semi-bold, sans-serif
  font-size: 2rem
//display: inline-block

.productDel
  position: absolute
  left: 0
  top: -3px
  width: 50px
  height: 40px
  font-family: releway-semi-bold, sans-serif
  font-size: 2rem
  //display: inline-block

.productCountCurrent
  background-color: $mainOne
  font-family: releway-semi-bold, sans-serif
  font-size: 1.2rem
  //padding: 10px 10px
  border: 2px solid white
  border-radius: 15px
  padding: 5px 20px
  margin: 0 50px

//.productCountLine
//  & span
//    //display: inline-block
//    //margin-right: 40px
.productCountTitle
  margin-bottom: 10px
  font-family: releway-semi-bold, sans-serif
  text-transform: uppercase

.radio
  vertical-align: top
  width: 17px
  height: 17px
  margin: 0 5px 0 0
.radio+label
  cursor: pointer
.radio:not(checked)
  position: absolute
  opacity: 0
.radio:not(checked)+label
  position: relative
  padding: 0 0 0 55px
.radio:not(checked)+label:before
  content: ''
  position: absolute
  top: -2px
  left: 25px
  width: 22px
  height: 22px
  border: 5px solid white
  border-radius: 50%
  background: white
.radio:not(checked)+label:after
  content: ''
  position: absolute
  top: 1px
  left: 28px
  width: 16px
  height: 16px
  border-radius: 50%
  background: $mainOne
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.5)
  opacity: 0
  transition: all 0.2s
.radio:checked+label:after
  opacity: 1
.radio:focus+label:before
  box-shadow: 0 0 0 5px $mainOne

.cart
  padding: 30px
  text-align: center
  .typeOfPay
    text-align: center
    padding: 5px 30px
    color: white
    font-family: releway-extra-bold, sans-serif
    .radioTypeBlock
      padding: 15px
      font-size: 1rem
    span
      display: block
  .cartItem
    text-align: center
    //position: relative
    margin-bottom: 25px
    font-family: releway-semi-bold, sans-serif
    border-bottom: 3px $mainOne solid
    &:last-child
      margin-bottom: 0
  //position: absolute
  display: inline-block
  top: 120px
  right: 0
  width: 28%
  float: right
  .cartTitile
    text-transform: uppercase
    display: block
    font-family: releway-extra-bold, sans-serif
    padding-bottom: 10px
    padding-top: 10px
    color: $mainOne
    font-size: 1.3rem
  .itemCartCost
    padding: 0 2px
    font-size: 1.2rem
    color: white
  .itemCartCount
    font-family: releway-extra-bold,sans-serif
    padding: 0 20px
    font-size: 1.2rem
    margin-left: 15px
    margin-right: -15px
    color: white
  .itemCartTitle
    //padding-right: 10px
    font-size: 1rem
    color: white
    //margin-bottom: 50px
  .cartReceipt
    font-family: releway-extra-bold, sans-serif
    margin-bottom: 10px
    font-size: 1.4rem
    color: white
  .orderButton
    cursor: pointer
    line-height: 25px
    border: 2px $mainOne solid
    padding: 5px
    border-radius: 5px
    text-transform: uppercase
    font-family: releway-extra-bold, sans-serif
    color: white
    background: $mainOne
    &:hover, &:active
      color: $mainOne
      outline: none
      background-color: white
  .itemcartcount
    //padding: 60px 55px
  .itemCartAdd
    //right: 45px
    cursor: pointer
    //margin-left: 35px
    position: absolute
    height: 32px
    width: 32px
    background: url('../img/icons/resize/add.png') 0 3px no-repeat
  .itemCartDel
    cursor: pointer
    //margin-right: 15px
    height: 32px
    width: 32px
    position: absolute
    background: url('../img/icons/resize/cancel.png') 0 3px no-repeat

.cartHide
  border: 5px solid $mainOne
  transition: all 0.5s
  right: -200vw
  position: relative
  z-index: 15
  display: none
  width: 60%
  background-color: $generalSectionColorNew
  top: -120px
  overflow: hidden
  margin-bottom: -400px
  text-align: center

.cartHideActive
  display: block
  right: 0

.cartGeneral
  display: block
  transition: all 1.5s

.cartGeneralActive
  display: block

.mainSale
  position: relative
  overflow: hidden