footer
  //background: url('../img/sushigang.gif') center no-repeat
.footerContent
  padding: 15px 10px 15px
  //padding: 15px 0
  overflow: hidden
  background: $footerSectionColorNewRgba
  //rgba(251, 240, 163, 0.95)
  //background: $bodyBgCol
  //font-family: firasans, sans-serif
  //background-size: cover
  max-width: 1300px
  //min-width: 350px
  margin: -1px auto
  width: 100%
  //background: url('../img/footerBG3.jpg') center no-repeat
  text-align: center
  //max-width: 1320px
  //ровно
  //padding: 10px 30px 10px 50px


.footerSocial
  text-align: center
  li
    display: inline-block
    vertical-align: top
    width: 32px
    height: 32px
    padding: 5px
  a
    display: block
    width: 100%
    height: 100%

  .footerSocialLinkTopVK
    background: url("../img/icons/VK32x32.png") 0 0 no-repeat
  .footerSocialLinkTopFB
    background: url("../img/icons/FB32x32.png") 0 0 no-repeat
  .footerSocialLinkTopOK
    background: url("../img/icons/OK32x32.png") 0 0 no-repeat

.footerLogo
  font-family: releway-semi-bold, sans-serif
  font-size: 1.5rem
  width: 100%
  max-width: 200px
  padding: 5px
  color: $mainOne

.footerAddress
  display: block
  font-family: releway-semi-bold, sans-serif
  font-size: 1rem
  color: white
.footerPhone
  font-family: firasans, sans-serif
  font-size: 1rem
  display: block
  color: white