@import "varsColors"

.headerLogo
  //display: block
  position: relative
  display: inline-block
  margin-right: 20px
  //margin-left: 2px
  bottom: 30px
  vertical-align: top
  //font-family: releway-light, sans-serif
  font-family: releway-semi-bold, sans-serif
  a
    font-size: 3.2rem
    color: $mainOne

  span
    font-size: 1.1rem
    position: absolute
    left: 20px
    text-transform: uppercase
    bottom: -42px
    color: white

.headerTop
  position: relative
  margin-bottom: 15px
  overflow: visible

.headerAddress
  display: inline-block
  font-family: releway-semi-bold, sans-serif
  color: white

.headerAddressTop
  //add
  position: relative
  //
  margin-bottom: 10px
  .btn
    margin-top: 10px

.popup
  border: 3px solid $mainOne
  //background: url("../img/sushigang.gif") center no-repeat
  background: url("../img/redisign/callBack.jpg") center no-repeat
  border-radius: 5px
  //font-family: releway-extra-bold, sans-serif
  display: none
  position: fixed
  left: 550px
  top: 150px
  //border: 3px solid $mainThree
  //background: $bodyBgCol
  max-width: 300px
  //height: 310px
  padding: 20px
  text-align: center
  z-index: 10
  .pop-title
    text-transform: uppercase
    font-family: releway-extra-bold,sans-serif
    //color: $mainOne
  input[type=text]
    //color: $mainOne
    border: 1px solid $mainOne
    font-family: releway-extra-bold, sans-serif
    font-size: 1rem
    width: 250px
    padding: 10px
    border-radius: 5px
    margin: 5px
    //background-color: transparent
    &:focus
      border: 3px solid $mainOne
      outline: none
  div
    margin-bottom: 5px
  .close
    position: absolute
    right: 10px
    top: 5px
    //color: $mainThree
    font-family: releway-extra-bold, sans-serif
    font-size: 1.5rem
    width: 32px
    height: 32px
    cursor: pointer
    background: url("../img/icons/resize/close32x32.png")
  .callMe
    cursor: pointer
    line-height: 25px
    border: 2px $mainOne solid
    padding: 5px
    border-radius: 5px
    text-transform: uppercase
    font-family: releway-extra-bold, sans-serif
    color: white
    background: $mainOne
    &:hover, &:active
      color: $mainOne
      outline: none
      background-color: white

.popupMessage
  padding: 15px
  cursor: pointer
  top: 100px
  right: 0
  left: 0
  z-index: 20
  position: fixed
  h2
    text-align: center
  color: white
  //font-size: 1.2rem
  font-family: releway-thin, sans-serif
  width: 100%
  min-height: 50px

.popupAddInCart
  background-color: $backgroundAgreeMessageRgba

.popupDeleteFromCart
  background-color: $rgbaBGFooterRed


.headerPhone
  font-size: 1.7rem
  margin-right: 10px
  font-family: firasans, sans-serif
  white-space: nowrap
  color: white
  span
    font-weight: bold
  &:before
    content: ''
    display: inline-block
    width: 32px
    height: 32px
    background: url('../img/icons/resize/phone.png') 0 0 no-repeat
    margin-right: 5px
    margin-bottom: -5px

.headerAddress
  font-family: firasans, sans-serif
  text-align: right

.headerAddressBottom
  text-align: right
  font-weight: bold
  span
    &:before
      content: ''
      display: inline-block
      margin-right: px
      width: 32px
      height: 32px
      background: url('../img/icons/resize/location.png') 0 0 no-repeat
      margin-bottom: -5px

.headerBusketWrap
  float: right
  font-family: releway-light, sans-serif
  color: white
  margin-bottom: 25px


.headerBusket
  max-width: 180px
  min-height: 50px
  max-height: 50px
  padding: 20px 10px
  border-radius: 40px
  background-color: $generalSectionColorNewRgba
  font-weight: bold
  border: 5px solid $mainOne
  //padding-left: 50px
  //margin-left: 35px
  //width: 220px
  margin-bottom: 5px
  &:hover
    border: 5px solid white
  span
    font-size: 2rem
    position: relative
    display: block
    padding-left: 90px
    font-family: releway-extra-bold, sans-serif
    &:before
      position: absolute
      content: ''
      display: block
      left: 0
      margin-right: 10px
      width: 64px
      height: 64px
      background: url('../img/icons/resize/shopping_cart.png') 0 0 no-repeat

.headerHideBusket
  position: absolute
  display: none
  top: -10px
  right: 0
  margin-right: 10px
  width: 64px
  height: 64px
  background: url('../img/icons/resize/shopping_cart.png') 0 0 no-repeat
  span
    position: absolute
    bottom: 20px
    color: white
    text-align: center
    left: 20px
    top: 10px
    font-family: releway-semi-bold, sans-serif
    //font-size: 0.8rem

.hideBusketActive
  //border: 3px solid $mainThree
  height: 64px
  width: 64px
  border-radius: 15px
  //background-color: transparent

.mainNavWrap
  font-family: releway-extra-bold, sans-serif
  //background-color: $mainThree
  //Redisign
  background-color: $mainOne
  padding: 5px 10px 10px 50px
  border-radius: 5px
  overflow: hidden
  margin-bottom: 5px

.mainNav
  display: inline-block
  ul
    background-color: $navigationMenuColorNewRgba
  li
    display: inline-block
    margin-right: 50px
    &:last-child
      //margin-right: 0px
  a
    display: block
    color: white
    text-transform: uppercase
    padding: 0 5px
    line-height: 40px
    border-radius: 5px
    &:hover, &:active
      color: $mainOne
      background-color: white

.topSearchWrap
  position: relative
  float: right
  margin-right: 70px
  width: 100%
  max-width: 200px
  margin-top: 5px
  //input
  //  &:focus, &:active
  //    outline: none

  &:after
    content: ''
    display: block
    width: 32px
    height: 32px
    position: absolute
    right: -75px
    top: 0px
    background: url('../img/icons/zoom.png') 0 0 no-repeat
  input
    border: none
    border-radius: 20px
    line-height: 32px
    padding: 0 20px
    width: 100%
    font-family: releway-extra-bold, sans-serif
    text-align: center

.respMenuLine
  position: absolute
  display: block
  height: 5px
  width: 40px
  background-color: white

.responsiveMenuTop
    top: 5px
.responsiveMenuMiddle
    top: 15px
.responsiveMenuBottom
    top: 25px

.responsiveMenu
  //border: 3px solid white
  border-radius: 50px
  cursor: pointer
  position: relative
  display: none
  //padding: 5px 2px
  width: 30px
  height: 4px
  //color: white
  bottom: 13px
  span
    //position: absolute
    //display: block
    background-color: white
    border-radius: 10px
    //width: 100%
    //height: 0
    //margin-bottom: 5px
    font-family: releway-extra-bold, sans-serif
    font-size: 1.5rem
    opacity: 1
    transition: all 0.2s
    &:last-child
      margin-bottom: 0
  &:active
    .responsiveMenuTop
      opacity: 0
    .responsiveMenuMiddle
      transform: rotate(45deg)
    .responsiveMenuBottom
      transform: rotate(-45deg)
