@import "varsColors"
@import "fonts"
/*************************** Сброс стилей *****************************/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, menu, nav, section, summary,
time, mark, audio, video  
  margin: 0
  padding: 0
  border: 0
  outline: 0
  font-size: 100%
  background: transparent

body
  line-height: 1.75

article,aside,details,figcaption,figure,
footer,header,menu,nav,section  
  display: block

nav ul  
  list-style: none

blockquote, q  
  quotes: none

blockquote:before, blockquote:after, q:before, q:after
  content: ''

a  
  margin: 0
  padding: 0
  font-size: 100%
  vertical-align: baseline
  background: transparent

input, select  
  vertical-align: middle
 
/************************* Системные стили ***************************/

.clear
  display: block
  clear: both

.clear:after
  content: "."
  display: block
  height: 0
  clear: both
  visibility: hidden
  line-height: 0

.centered
  display: table
  margin: 0 auto

.fl_left
  float: left

.fl_right
  float: right

.hidden
  overflow: hidden

.half
  width: 50%

.full
  width: 100%

.flex-container  
  display: flex 
  flex: auto 
 
.flex-col  
  flex-direction: column 
  display: flex 
 
.flex-row  
  flex-direction: row
  display: flex 
 
.flex-row-wrap
  flex-flow: row wrap

.flex-centered  
  display: flex 
  align-content: center 
  align-items: center 
  justify-content: center 
  margin: 0 auto 
 
.flex-start  
  flex-wrap: wrap 
  align-content: flex-start 
  align-items: flex-start 
  justify-content: flex-start 
 
.flex-full
  flex-grow: 1
  flex-basis: 100%
.flex-full.mini
  max-width: 500px
.flex-dominant
  flex-grow: 1
.flex-half
  flex-basis: calc(50% - 10px)
  margin: 0 5px
.flex-tht
  flex-basis: calc(33% - 10px)
  margin: 0 5px
.flex-goo
  justify-content: space-between

.padding20
  box-sizing: border-box
  padding: 20px
.padding10-h
  padding: 0 10px
.padding20-h
  padding: 0 20px
  
/************************* Базовые стили ***************************/
html  
  min-height: 100% 
  display: flex 
  flex-direction: column

body  
  display: flex
  flex-direction: column
  flex: auto
  background: white
  font-family: releway, sans-serif
  color: $defFooterAndHeader
  font-size: 18px
  line-height: 1.6
  //прижимаем футер к низу, данный вариант не канает
  //position: relative
  //box-sizing: border-box
  //padding-bottom: 50px

header, footer  
  flex-grow: 0
  display: flex 
  flex-direction: row
  width: 100%
  padding: 20px 20px
  box-sizing: border-box 
  background: #222222
  color: white

header
  flex-direction: column
  padding: 0
  .flex-row
    padding: 10px 20px
  .subheader
    background: #777777
  #moderator
    color: $mainOne

footer
  background: $defFooterAndHeader
  flex-grow: 0
  //Костыль в виде margin
  //margin-top: 330px
  justify-content: center
  //Футер к низу
  //position: absolute
  //bottom: 0
  //padding-top: 50px

footer small
  font-size: 16px

header
  a
    color: white
    border-radius: 5px
    border: 3px solid white
    padding: 4px 10px
    margin: 0 6px 0 0
    transition: .2s
    text-decoration: none

header
  a:first-child
    margin: 0 0 0 26px

header a:hover, header a.active
  //color: black
  //background: #ffffff
  background: $buttonEditor
  transition: .2s
.button.edit
  background: $buttonEditor

header
  .buttons
    flex-grow: 1
    display: flex
    flex-direction: row-reverse
    flex: auto

header
  .title
    padding: 4px
    margin: 4px 0 0 0

label, .label
  color: black
  font-size: 1.2rem
  margin: 0 0 4px 0

.content
  flex-grow: 1
  display: flex
  flex-direction: column
  flex: auto
  width: 100%

.button
  border-radius: 5px
  padding: 10px 20px
  margin: 10px 10px 0 0
  background: #999999
  color: white
  cursor: pointer
  line-height: 1
  height: auto
  transition: .2s
  //float: right

.button:hover, .button.active
  transition: .2s
  background: #666666

.button.green
  background: $defProducts

.button.green:hover
 background: $defHoverProducts

.button.del
  background: $buttonDel

.button.del:hover
  background: $buttonDelHover

.button.cancel
  background: $bodyBgCol

a.button
  text-decoration: none

.link
  padding: 0 0 4px 0
  border-bottom: 1px dashed #999999
  color: #999999
  cursor: pointer
  transition: .2s

.holder
  flex-grow: 1
  display: flex
  flex-direction: column
  justify-content: center
  flex-flow: row wrap
  width: 100%
  min-width: 1000px
  max-width: 1300px
  margin: 0 auto
  background: #ffffff
  box-sizing: border-box


.holder.type
  align-items: flex-start
  justify-content: flex-start
  align-content: flex-start


.holder .holder
  padding: 20px
  align-items: flex-start

.optionsHeader
  //background: #dadada
  width: 100%
  height: 40px
  padding: 10px 20px
  flex-grow: 0
  display: flex
  flex-direction: row
  align-items: center
  justify-content: center

.options-header .button
  margin: 0 10px 0 0
  padding: 10px 20px


.adminPanelcontent, .adminPanelcontent .sortableContent
  width: 100%
  display: flex
  flex-wrap: wrap
  flex-direction: row
  align-content: flex-start
  list-style-type: none
  align-items: flex-start

.adminPanelcontent li
  flex-basis: calc(25% - 10px)
  border: 2px solid $defFooterAndHeader
  margin: 10px 10px 0 0
  padding: 10px
  box-sizing: border-box
  border-radius: 5px

.adminPanelcontent li.isMain
  background: $mainBlockInUl

.adminPanelcontent li .image, .adminPanelcontent li .image img
  width: 100%

.adminPanelcontent li .title
  width: 100%
  display: block
  font-size: 1.4rem

.adminPanelcontent li .small
  font-size: 1rem

.adminPanelcontent li .buttons
  display: flex
  flex-direction: row
  align-content: flex-start
  align-items: flex-start

.adminPanelcontent li .buttons a
  background: $buttonEditor
  color: white
  padding: 4px 10px
  border-radius: 5px
  margin: 10px 10px 0 0
  text-decoration: none
  transition: .2s

.adminPanelcontent li .buttons a:hover
  background: $footerAndHeaderColorsVer2
  transition: .2s
.adminPanelcontent li .buttons a.article
  background: $defProducts
.adminPanelcontent li .buttons a.article:hover
  background: $defHoverProducts

.titleName
  font-family: releway, sans-serif
  font-size: 3rem
  display: block

.titleNameEditor
  border-bottom: 2px solid black

//UPD
.blogContent, .blogContent ul.uiSortable
    width: 100% 
    display: flex 
    flex-wrap: wrap 
    flex-direction: row 
    align-content: flex-start 
    list-style-type: none 
    align-items: flex-start 
 
.blogContent ul.uiSortable li
  flex-basis: calc(25% - 10px) 
  border: 1px solid #a8a8a8 
  margin: 10px 10px 0 0 
  padding: 10px 
  box-sizing: border-box 
  border-radius: 5px 
 
.blogContent ul.uiSortable li.ismain
  background: #f6f6f6 
 
.blogContent ul.uiSortable li.root
  background: #e4fdce
.blogContent ul.uiSortable li.uiStateHighlight
  border: 1px dashed #a7a7a7 
 
.blogContent ul.uiSortable li .image, .blogContent ul.uiSortable li .image img
  width: 100%
.blogContent ul.uiSortable li .title
  width: 100%
  display: block
.blogContent ul.uiSortable li .small
  font-size: 12px
  color: #999999
.blogContent ul.uiSortable li .buttons
  display: flex 
  flex-direction: row 
  align-content: flex-start 
  align-items: flex-start 
 
.blogContent ul.uiSortable li .buttons a
  background: #999999 
  color: #ffffff 
  padding: 4px 10px 
  border-radius: 5px 
  margin: 10px 10px 0 0 
  text-decoration: none 
  transition: .2s 
 
.blogContent ul.uiSortable li .buttons a:hover
  background: #666666
  transition: .2s
.blogContent ul.uiSortable li .buttons a.article
  background: #3b9739
.blogContent ul.uiSortable li .buttons a.article:hover
  background: #358039

//.v-list
//  align-items: flex-start
//.v-list .v-item
//  justify-content: space-between
//  align-items: center
//  padding: 10px
//  margin: 0 0 6px 0
//  border: 5px dashed white
//
//.v-list .v-item .title
//  max-width: 600px
//  min-width: 600px
//
//.v-list .v-item .title.full
//  max-width: 100%
//.v-list .v-item .image
//  background: white
//  border-radius: 6px
//  width: 50px
//  height: 50px
//  overflow: hidden
//
//.v-list .v-item .image img
//  width: 100%
//  height: 100%
//
//.v-list .v-item .created
//  color: #a7a7a7
//  font-size: 14px
//
//.v-list .v-item .published
//  width: 120px
//  cursor: pointer
//  font-size: 14px
//
//.v-list .v-item .published .yes
//  color: $defProducts
//.v-list .v-item .published .no
//  color: $buttonLogout
//.work-holder .v-list .v-item a
//  color: $defFooterAndHeader
//.search
//  max-width: 400px
//  margin: 0 0 10px 0
//  width: 100%
//***********************************Формы*************************************//
input, textarea, select 
  border-radius: 5px
  display: block
  background: #ffffff
  outline: 0
  border: 1px solid #d5d5d5
  padding: 6px 12px
  font-size: 16px
  box-sizing: border-box
  width: 100%

input:focus, textarea:focus
  border: 1px solid #98e25d

textarea
  height: 150px
  width: 60%
  resize: none
.inputRow 
  margin: 10px auto
  display: flex
  flex-direction: column
  flex-wrap: wrap
  width: 100%

.input-row.flex-row
  flex-direction: row
.catHolder
  border: 1px dashed #d5d5d5
  border-radius: 6px
  min-height: 40px
  box-sizing: border-box
  padding: 20px

.catHolder.na
  opacity: .5
.catHolder .cat, .catHolder.na .cat:hover 
  padding: 4px 10px
  background: #999999
  color: #ffffff
  margin: 0 6px 6px 0
  border-radius: 5px
  cursor: pointer
  transition: .2s

.catHolder .cat:hover, .catHolder .cat.active 
  background: #49a37c
  transition: 0.2s

.catHolder.na .cat, .catHolder.na .cat:hover
  cursor: default

.checker 
  display: block
  width: 16px
  height: 16px
  float: left
  margin: 1px 6px 0 0
  background: #efefef
  border-radius: 50%
  border: 2px solid #999999
  transition: .3s
  cursor: pointer

.checker:hover, .checker.active 
  background: #c0f720
  transition: .3s

.logo-holder 
  max-width: 120px
  overflow: hidden
  margin: 10px 0
  min-height: 50px
  border-radius: 6px
  background: #efefef

.logo-holder img 
  width: 100%
  height: auto
  border-radius: 6px

#cost
  width: 100px


/************************* Pop-up формы ***************************/

.popupHolder
  display: none
  position: fixed
  top: 0
  left: 0
  z-index: 99999
  background: rgba(96,96,96,0.8)
  overflow: hidden
  width: 100%
  height: 100%
  .productEditor
    max-height: 700px
    overflow-y: scroll
    margin-top: 100px

.popupContent
  height: 220px
  width: 600px
  margin-left: -300px
  margin-top: -150px
  position: fixed
  z-index: 10
  background-color: white
  left: 50%
  top: 50%
  border-radius: 6px
  box-sizing: border-box

.popupHeader 
  background: #5d5d5d
  width: 100%
  color: white
  box-sizing: border-box
  padding: 6px 12px
  overflow: hidden

.popupContent .button
  margin: 0 10px 0 0
.popupContent .full 
  box-sizing: border-box
  padding: 20px

.popupContent .full.centered
  text-align: center
.popupContent .full input
  margin-bottom: 20px
.popupContent .button 
  float: left
  padding: 10px 20px
  
.textInPopup
    text-align: center
.imgProd
  min-height: 150px
  min-width: 200px

//****************************Редактор***************************************//
.categoryEditor
  display: none

.blockForCatName
  flex-basis: auto
  width: 450px

.productsListInCatEditor
  ul
    .countProductInCat
      font-family: releway-semi-bold, sans-serif
      text-decoration: underline
    text-align: center
    overflow-y: scroll
    min-width: 600px
    border: 1px solid $generalSectionColorNew
    border-radius: 3px
    max-height: 700px
    .productsListItem
      text-decoration: none
      border: none
      padding: 15px
      //text-align: center
      .productCost
        font-family: releway-semi-bold, sans-serif
        padding-left: 5px

.controlsForEditProd
  text-align: center
  margin-top: 5px
  .productEdit, .productDel
    text-transform: lowercase
    max-width: 150px
    padding: 5px 5px
    margin-right: 15px
    border-radius: 5px

//******************************************Форма логина******************************************//
.loginBlock
  position: relative
  background: $loginFormColor
  box-sizing: border-box
  padding: 20px
  border-radius: 5px
  margin: auto
  display: flex
  flex-direction: column
  flex-wrap: wrap

.loginBlock
  .button
    padding: 10px 20px
    text-align: center
    min-width: 200px
    max-width: 200px
    margin: 20px auto 0
    text-transform: uppercase
    background: $buttonEditor
    font-family: releway-semi-bold, sans-serif
  label
    font-family: releway-semi-bold, sans-serif
    text-transform: uppercase
    color: white
  input
    font-family: releway-semi-bold, sans-serif
    min-width: 300px
    &:focus
      border: solid 5px $buttonEditor

.loginImg
  width: 120px
  height: 120px
  border-radius: 50px
  padding: 5px

.loginBlock
  align-items: center

.fa
  cursor: pointer
.fa.userIcon
  color: white
  position: absolute
  left: 70px
.fa.userPass
  color: white
  position: absolute
  left: 65px








