@import "header"
@import "varsColors"
@import "fonts"
@import "content"
@import "footer"
@import "media"
.clearfix
  &:after
    clear: both

.clearfix
  *zoom: 1

.wrapper
  padding: 30px 10px 30px
  //background-color: $colorBackGround
  //background: $rgbaBGContentDef
  //Redisign
  background: $generalSectionColorNewRgba
  //rgba(246, 246, 219, 0.95)
  width: 100%
  max-width: 1300px
  margin: 0 auto

.topBlock
  //display: none
  margin: 0 auto
  padding: 5px 5px
  width: 100%
  max-width: 1300px
  //margin: 0 auto
  overflow: hidden
  .btn
    text-align: center
    width: 70px


body
  //position: relative
  background: url('../img/redisign/redisignBacground.jpg') top center
  //background-color: $generalSectionColorNewRgba
  //font-family: $defFont

html
  font-family: $defFont
  font-size: 16px
  line-height: 1.75


h1, h2, h3, h4, h5, h6
  margin: 0

ul, li
  margin: 0
  padding: 0
  list-style-type: none

a
  text-decoration: none
  color: black

.show
  display: block

.hide
  display: none

textarea
  resize: none

*:before, *:after
  box-sizing: border-box

audio, canvas, iframe, img, svg, video
  vertical-align: middle

.socialLinkTop
  float: left
  li
    display: inline-block
    vertical-align: top
    width: 64px
    height: 64px
    padding: 5px
  a
    display: block
    width: 100%
    height: 100%

  .socialLinkTopVK
    background: url("../img/icons/resize/64x64VK.png") 0 0 no-repeat
  .socialLinkTopFB
    background: url("../img/icons/resize/FB64x64.png") 0 0 no-repeat
  .socialLinkTopOK
    background: url("../img/icons/resize/OK64x64.png") 0 0 no-repeat

.topBtn
  //display: none
  float: right
  margin-top: 25px
  .btn
    &:first-child
      margin-right: 5px
.btn
  display: inline-block
  padding: 0 20px
  color: white
  line-height: 25px
  text-transform: lowercase
  border-radius: 20px
  font-family: releway-extra-bold, sans-serif
  vertical-align: top

.btnColor
  background-color: $mainOne
  &:hover, &:active
    color: $mainOne
    background-color: white

.btnColorCallback
  background-color: $mainOne
  &:hover, &:active
    color: $mainOne
    background-color: white

.top
  background: url('../img/icons/resize/up.png') top center
  position: fixed
  bottom: 50px
  background-color: $mainOne
  border-radius: 30px
  color: $bgBattonUp
  width: 64px
  height: 64px
  cursor: pointer
  transition: all .25s ease
  opacity: .5
  right: -100px
  &.active
    right: 20px
  &:hover
    //background-color: $mainThree
    opacity: 1

.containerAcceptRequest
  display: none
  color: white


