@import "varsColors"

//@media screen and (min-width: 1332px)
// .footerContent
//    padding: 15px 5px
@media screen and (max-width: 1270px)
  //.cartHideActive
  //  display: none
  .mainProdItem
    width: 35%
  .headerLogo
    margin-top: 10px
    margin-bottom: 10px
    //margin-right: 5px
    //margin-right: 0px
    a
      font-size: 2.5rem
    span
      left: 50px
  .ourAdvant
    padding-left: 5px
  .advItemInner
    padding-left: 80px
  .advIconCity
    left: -20px
  .advIconCash
    left: -20px
  .advIconTime
    left: -20px
  .headerBusket
    width: 250px
  .headerBusketWrap
    margin-right: 60px
    width: 230px
  //.topBtn
  //  float: none

@media screen and (max-width: 1150px)
  .headerAddress
    width: 300px
  .mainNav
    li
      margin-right: 2px
    a
      padding: 0 10px
  .headerBusket
    width: 250px
    margin-right: 5px
    font-size: 0.9rem
  .headerLogo
    span
      bottom: -45px
      //font-size: 0.8rem
  .topBtn
    margin-right: 50px

@media screen and (max-width: 1100px)
  .mainProdWrap
    text-align: center
  .mainProdItem
    width: 30%
  .cartGeneral
    float: none
    width: 40%
    margin-bottom: 25px
  .advItemInner
    padding: 10px
    text-align: center
    //height: 100%
  .advIcon
    position: static
    top: 0
    //margin-top: 0
    margin: 0 auto 5px
  .advItem
    height: 155px
  .headerBusket
    width: 250px
  .topBtn
    margin-right: 50px

@media screen and (max-width: 1024px)
  .wrapper
    padding: 30px 30px 50px
  .topBtn
    margin-right: 50px
  .headerBusketWrap
    float: none
    max-width: 325px
  .headerBusket
    margin-top: 10px
    width: 250px
  .headerAddress
    float: right
    margin-right: 15px
  .headerLogo
    width: 300px
    float: none
    //margin-left: -45px
    margin-right: 0
    margin-bottom: 10px
    .logoText
      font-size: 2rem

@media screen and (max-width: 1000px)

  .headerBusket
    width: 250px
  //.ourAdvant
  //  display: none
  .topSearchWrap
    width: 150px
    //margin-right: 70px
  .mainNavWrap
    //padding: 15px 10px
    padding: 5px 10px 15px
    position: relative
    overflow: visible
  .mainNav
    ul
      display: none
      position: absolute
      z-index: 10
      background-color: $mainOne
      //padding: 5px
      top: 60px
      border-radius: 5px
      left: 0
    li
      display: block
      margin-right: 0
    //margin-bottom: 10px
    a
      padding: 5px
      line-height: 20px
      &:active, &:hover
        color: $mainOne
        background-color: white
        padding: 5px
  .responsiveMenu
    display: block

@media screen and (max-width: 950px)
  .mainSale
    text-align: center
  .mainProdItem
    width: 30%

@media screen and (max-width: 890px)
  .popup
    left: 200px
  .mainProdItem
    width: 30%
    min-width: 300px

@media screen and (max-width: 850px)
  .headerLogo
   span
     bottom: -35px
     font-size: 0.9rem
  .advTitle
    font-size: 1rem

@media screen and (max-width: 768px)
  .mainProdItem
    width: 30%
    min-width: 220px
  .headerLogo
    //text-align: center
    width: 300px
    .logoText
      font-size: 2rem
    //font-size: 0.1rem
  //.btnColorCallback
  //  font-size: 1rem
  .topBtn
    //font-size: 1rem
    //margin-right: 100px
  .headerPhone
    font-size: 1.2rem
    display: block
    margin-right: 0
  .headerAddressBottom
    font-size: 0.9rem
  .headerAddressTop
    font-size: 1rem
    text-align: right
  .headerAddress
    margin-right: 10px
  .headerBusketWrap
    //margin-top: 25px
    .headerBusket
      //font-size: 0.7rem
      width: 220px
    float: none
    font-size: 0.9rem
//display: inline-block

@media screen and (max-width: 750px)

  .headerBusket
    margin-left: 0
    padding-left: 5px
  .cart
    width: 80%
  .mainProdItem
    width: 20%
    min-width: 220px
  .advItem
    width: 230px
    vertical-align: top
    margin: 0 2px 15px
    &:first-child, &:last-child
      float: none

@media screen and (max-width: 550px)
  .cart
    display: none
  .cartHide
    display: block
  .popup
    left: 0
  .btnColorCallback
    margin-left: 25px
  .headerAddress
    margin-right: 10px
    float: none
  .headerLogo
    width: 300px
    display: block
    //display: inline-block
    span
      bottom: -35px
      //display: none
    .logoText
      font-size: 1.8rem
  .headerBusketWrap
    display: none
  .headerAddressTop
    text-align: left
  .headerPhone
    display: inline-block
    margin-right: 15px
  .headerAddressBottom
    text-align: left
  .headerHideBusket
    display: block

@media screen and (max-width: 450px)
  .radioTypeBlock
    text-align: left
  .mainProdItem
    img
      height: 120px
  .topBtn
    margin: 0
    .tobBtnColor
      margin: 0
    //padding: 0
  //margin-left: 5px
  .headerBusketWrap
    margin-top: 25px
  .headerBusket
    //margin-right: 5px
    width: 190px
    //float: none
    //margin: 0
    //display: inline-block
  .topBlockWrap
    .topBlock
      padding: 0 5px

    //padding: 0
    //left: 0
    //margin-right: 20px
//.topBtn
  //  float: none



@media screen and (max-width: 350px)
  .topBlock
    height: 80px

  .topBtn
    margin: 0
    width: 120px
    margin-right: 10px

  .tobBtnColor
    margin: 0

  .topBtn, .socialLinkTop
    float: none
    text-align: center

  .socialLinkTop
    margin-bottom: 150px

  .headerLogo
    margin-bottom: 45px
    top: -15px
    width: 200px
    .logoText
      font-size: 1.3rem
    span
      top: 30px
      //bottom: -55px
      font-size: 0.8rem

    .wrapper
      padding-left: 10px

    .footerContent
      //width: 20%
      //max-width: 320px
    //.footerContentCenter
    //  text-align: center
      //width: 5%
//.headerBusketWrap
  //padding: 10px 20px 10px 20px

//.headerAddress
  //  margin: 0
  //.headerLogo
  //  margin-left: 30px





